.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  //color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
font-color:#EEE;
}

.banner-logo {
  width: 150px;
}

.logo-navbar{
  width: 50px;
}


.banner-parallax{
  margin-top: 50px;
    background-attachment: fixed;
    padding: 150px 0;
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
    //display:block;
}

#S800 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url("S800.jpg");
  background-size: cover !important
}

#inspire2 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url("dji-inspire-2.jpg");

}


.banner-content-parallax{
  color: white;
  font-size: 30px;
  position: relative;
  z-index: 8;
}
