
.feature1{
  margin-top: 50px;
}

.img-feature{
  width: 100%;
  padding:0px;
}

.img-feature2{
  width: 100%;
  padding:0px;
}

.feature1 p{
  font-size: 28px;
  font-weight:lighter;
  padding:30px;
  opacity: 0.7;
  text-align: justify;
  text-justify: inter-word;
}
// .features h2 {
//   font-size: 20px;
//   margin-bottom: 10px;
// }
// .features p {
//   font-size: 15px;
//   font-weight: lighter;
// }

.feature2 img{
  margin-top: 100px;
  width: 150px;
  color: white;
}



.separator{
  border: 1px solid grey;
  opacity:0.4;
}


.wrapper-matos{
  width:100%;
  margin-top:30px;
}

.img-size{
 margin-top:40px;
  width:400px;
}

.title{
  margin-top:120px;
  font-size:40px;
  font-weight:lighter;
}


.text-feature{
  //width:100%;
  height: 350px;
  color:white;
  background-color:#212121;
  font-size:20px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:70px;
  text-align: justify;
  font-weight:lighter;
}

.text-feature p{
  opacity:0.6;
}

.container-video{
  padding: 0;
  margin:0;
}


.wrapper-skypicture{
  width:100%;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
  margin-bottom:-6px;
}










//---------navbar---------------


.navbar-sup{
   background: #212121;
  padding: 9px 71;
  color: #CCCCCC;
  height:30px;
  padding-left: 170px;
  }


.navbar-sup ul {
  //margin-top: 10px;
}
.navbar-sup a {
  color: $gray-light;
  font-size: 20px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
.navbar-sup a:hover{
  color: $yellow;

}


//-------------------------------



.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}


.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  cursor:pointer;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}


























/* Icon set - http://ionicons.com */
.thumb{
  width:100%;
// margin:0;
// padding:0;
}

.card-figure{
  padding: 20px;
}
.snip1302 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: auto;
  min-width: 230px;
  max-width: 340px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}
.snip1302 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s 0.5s ease;
  transition: all 0.35s 0.5s ease;
}
.snip1302 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1302 figcaption {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.snip1302 h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  -webkit-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
  left: 0;
  top: 50%;
  opacity: 0;
  padding: 0 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.snip1302 .icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
}
.snip1302 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.7;
}
.snip1302 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1302:before {
  position: absolute;
  bottom: 0;
  left: 100%;
  top: 0;
  right: 0;
  content: '';
  background-color: #6088a3;
  z-index: 1;
  opacity: 0.4;
  -webkit-transition: all 0.35s 0.3s ease-in;
  transition: all 0.35s 0.3s ease-in;
}
.snip1302:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 200px 200px;
  border-color: transparent transparent transparent #212121;
  opacity: 0.9;
  -webkit-transition: all 0.35s 0s ease-out;
  transition: all 0.35s 0s ease-out;
}
.snip1302 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.snip1302:hover img,
.snip1302.hover img {
  opacity: 0.4;
}
.snip1302:hover h2,
.snip1302.hover h2,
.snip1302:hover .icons,
.snip1302.hover .icons {
  opacity: 1;
}
.snip1302:hover h2,
.snip1302.hover h2 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.snip1302:hover:before,
.snip1302.hover:before {
  left: 0;
  -webkit-transition: all 0.35s 0s ease-out;
  transition: all 0.35s 0s ease-out;
}
.snip1302:hover:after,
.snip1302.hover:after {
  right: 50%;
  -webkit-transition: all 0.35s 0.2s ease-in;
  transition: all 0.35s 0.2s ease-in;
}











