.navbar-inverse{
  background-color: transparent;
  //border-color: gray;
}

.navbar-inverse .navbar-nav li a{
  color: white;
}

.navbar-inverse .navbar-brand{
  color: white;
  font-weight: bold;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  border: 0px solid;
}

.navbar-brand{
  font-size: 35px;
}

.navbar-default{
  min-height: 60px;
}

.navbar-default .navbar-brand{
  font-size: 20px;
  font-weight: bold;
}
