
.feature1{
  margin-top: 50px;
}

.img-feature{
  width: 100%;
  padding:0px;

}

.feature1 p{
  font-size: 28px;
  font-weight:lighter;
  padding:30px;
  opacity: 0.7;
  text-align: justify;
  text-justify: inter-word;
}
// .features h2 {
//   font-size: 20px;
//   margin-bottom: 10px;
// }
// .features p {
//   font-size: 15px;
//   font-weight: lighter;
// }

.feature2 img{
  margin-top: 100px;
  width: 150px;
}
