
<div id="bg_container">
<div class="banner-content" style="position:absolute;">
    <h1>SKYPICTURE</h1>
    <p>Entreprise de prise de vue aérienne par drone.</p>
    <p><%= link_to "Contact", "contact.html.erb", class: "btn btn-primary lg" %></p>
  </div>
  <iframe id="bg" src="https://www.youtube.com/embed/ZnJcZfsVLAQ?autoplay=1&amp;controls=0&amp;disablekb=1&amp;iv_load_policy=3&amp;loop=1&amp;modestbranding=1&amp;enablejsapi=1&amp;showinfo=0" frameborder="0"></iframe>

 </div>
